Chapter 1. Deducing Types/Item 1-- Understand template type deduction/case1
Chapter 1. Deducing Types/Item 1-- Understand template type deduction/func_param
Chapter 1. Deducing Types/Item 1-- Understand template type deduction/case2
Chapter 1. Deducing Types/Item 1-- Understand template type deduction/array_param
Chapter 1. Deducing Types/Item 1-- Understand template type deduction/case3
Chapter 1. Deducing Types/Item 3--Understand decltype/universal
Chapter 1. Deducing Types/Item 3--Understand decltype/template_ret
Chapter 1. Deducing Types/Item 3--Understand decltype/var_decltype
Chapter 1. Deducing Types/Item 2--Understand auto type deduction/auto
Chapter 1. Deducing Types/Item 4--Know how to view deduced types/runtime
